body{
    background: url(./images/devices.jpeg) center no-repeat;
    background-size: cover;
    height: 100%;
}

* {
    box-sizing: border-box;
    padding: 10px;
}
p{
    font-size: 18px;
    font-family: Helvetica, sans-serif;
    font-style: arials;
    border: beige solid;
    color : rgb(255, 255, 255);
    background:gray;
}
    

h2{color: indigo; background-color: rgb(193, 207, 0); display: inline; padding: 10px; }



ul li { list-style-type: none;}

a {color: rgb(255, 255, 255);   
    text-transform: uppercase;
    background-color: rgb(0, 0, 0);
    display : block;
    padding: 20px;
    margin: 2px;
    text-align: center;
    text-decoration: none;
    }

a:visited{color: white;
}

a:hover{background-color: rgb(9, 173, 77);
}

a:active{color: palevioletred;
}

/* Large devices */
@media (min-width : 1200px) {
    .large{
        float: left;
        border: 1px dotted black;
        width: 25%;
    }

/* Medium */

@media (min-width :920px) and (max-width : 1199px){
    .med{
        float: left;
        border: 1px solid black;
        width: 50%;
    }



}
}



